body {
  overflow-x: hidden;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  background-color: #000 !important;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
 }

.navbar {
  background-color: #000 !important;
}

.navbar .navbar-brand {
  color: #fff !important;
  font-family:'Montserrat', sans-serif;
  font-weight: 800;

}

.navbar .nav-link {
  font-size: 14px;
  color: #fff !important;
  text-transform: capitalize;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}


.navbar .nav-item.active {
  border-left: #fff 1px solid !important;
}

.dropdown .dropdown-toggle {
  font-size: 14px;
  color: #fff !important;
  text-transform: capitalize;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/01.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/02.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/03.jpg');
  background-size: cover;
}

